/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background: url(../images/bg.jpg) no-repeat #E7E7E7;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto',arial,sans-serif;
}
/*---start-wrap-----*/
/*---start-header----*/
.bottom-social-icons{
	text-align:center;
}
.bottom-social-icons ul li{
	display:inline-block;
	margin-top:0.7em;
}
.bottom-social-icons h3{
	font-size: 1em;
	color: #3B3B3B;
	text-transform:uppercase;
}
.bottom-social-icons ul li a{
	padding:5px;
	display:block;
}
/*---start-content-----*/
.content{
	border: 10px dotted #3B3B3B;
	box-shadow: 0px 0px 10px #464646;
	background: #eeeeee; /* Old browsers */
	padding: 15px 0;
	text-align:center;
	margin-top: 5em;
	opacity: 0.8;
	width: 90%;
	margin: 4px auto;
}
/* ---------- TIMER ---------- */
#countdown{
	background: #FFF;
	padding: 0.5em 0 1em 0;
	margin-top: 1em;
}
ul#countdown{text-align:center;}
ul#countdown span {
	color: #3B3B3B;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}
ul#countdown h3{
	color: #3B3B3B;
	font-size: 0.8em;
	text-transform: uppercase;
}
ul#countdown li{
	display: inline-block;
	width: 23%;
	text-align: center;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 1.2em;
	191919
}
.content h1{
	font-size: 2em;
	color:#3B3B3B;
}
.content p{
	font-size: 0.875em;
	color: #3B3B3B;
	line-height: 1.8em;
	width: 90%;
	margin: 0 auto;
}
/*----start-notify----*/
.notify form{
	background: #FFF;
	width: 90%;
	margin: 0 auto;
	border:1px solid #EEE;
}
.notify input[type="text"]{
	width: 42%;
	padding:12px;
	outline: none;
	border:none;
	color:#3B3B3B;
	font-size:0.875em;
	font-family: 'Roboto',arial,sans-serif;
}
.notify input[type="submit"]{
	padding: 12px;
	border:none;
	background:#3B3B3B;
	font-family: 'Roboto',arial,sans-serif;
	color:#FFF;
	cursor:pointer;
}	
.notify input[type="submit"]:hover{
	background:#555;
}
.notify{
	margin: 1.5em auto 1em auto;
}
/*----start-copy-right-----*/
.copy-right{
	text-align:center;
}
.copy-right p{
	color:#3B3B3B;
	font-size:0.875em;
}
.copy-right p a{
	color:#3B3B3B;
}
.copy-right p a:hover{
	color:#555;
}